 <div class="col-lg-12 col-md-12">
     <div class="panel panel-default">
        <div class="panel-heading">
            <h2><i class="fa fa-flag-o red"></i><strong>Customers of Bet Invest</strong></h2>
            <div class="panel-actions">
                <a href="index.html#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
                <a href="index.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                <a href="index.html#" class="btn-close"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="panel-body">
            <!--Search------>
            <div class="col-xs-4">
                <h3>Customers page: {{ currentPage }}</h3>
            </div>
            <div class="col-xs-4">
                <label for="search">Search:</label>
                <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
            </div>
            <div class="col-xs-4">
                <label for="search">Customers per page:</label>
                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>
            <!-----Search--->
            <table class="table table-striped bootstrap-datatable">
                <thead>
                <tr>
                    <th>Company</th>
                    <th>Country</th>
                    <th>Email</th>
                    <th>Products</th>
                    <th>Manager</th>
                    <th>Stage</th>
                    <th>Due On</th>
                    <th ><i class="icon_cogs"></i> Action</th>
                </tr>
                </thead>
                <tbody>
                <tr dir-paginate="customer in customers | filter: q| itemsPerPage:  pageSize">{{customer}}
                    <td>{{customer.companyname}}</td>
                    <td>{{customer.country}}</td>
                    <td>{{customer.email}}</td>
                    <td>{{customer.product}}</td>
                    <td>{{customer.manager}}</td>
                    <td>{{customer.stage}}</td>
                    <td>{{customer.dueOn|date:'dd/MM/yyyy'}}</td>

                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary" ui-sref="app.customerdetails({id: customer._id})"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a>
                            <!--<a class="btn btn-success" ng-click=submitComment(customer._id)><i class="fa fa-commenting-o" aria-hidden="true"></i></a>-->
                            <a class="btn btn-warning" ng-click=editCustomer(customer._id)><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        </div>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
       <dir-pagination-controls></dir-pagination-controls>
</div>
