    <div class="ngdialog-message">
        <div class="">
            <h3>Client details</h3>
            <hr/>
        </div>
        <div class="">&nbsp;</div>
        <div class="">
            <p><span style="font-weight: bold">NAME:</span> {{one_customer.name}}, <span style="font-weight: bold">SURNAME:</span> {{one_customer.surname}}</p>
            <p><span style="font-weight: bold">COMPANY NAME:</span> {{one_customer.companyname}}</p>
            <p><span style="font-weight: bold">COUNTRY:</span> {{one_customer.country}}</p>
            <p><span style="font-weight: bold">EMAIL:</span> {{one_customer.email}}</p>
            <p><span style="font-weight: bold">SKYPE:</span> {{one_customer.skype}}</p>
            <p><span style="font-weight: bold">PHONE:</span> {{one_customer.phone}}</p>
            <p><span style="font-weight: bold">PRODUCT:</span> {{one_customer.product}}</p>
            <p><span style="font-weight: bold">MANAGER:</span> {{one_customer.manager}}</p>
            <p><span style="font-weight: bold">STAGE:</span> {{one_customer.stage}}</p>
            <p><span style="font-weight: bold">CREATED ON:</span> {{one_customer.createdOn|date:'dd/MM/yyyy'}}</p>
            <p><span style="font-weight: bold">MODIFIED ON:</span> {{one_customer.modifiedOn|date:'dd/MM/yyyy'}}</p>
            <p><span style="font-weight: bold">DUE ON:</span> {{one_customer.dueOn|date:'dd/MM/yyyy'}}</p>
            <p><span style="font-weight: bold">DOCUMENTS:</span> {{one_customer.documents}}</p>
            <p><span style="font-weight: bold">NOTES:</span> {{one_customer.notes}}</p>
<hr/>
<!------------------------COMMENTS-------------------------->
            <h4>Users's Comments &nbsp;&nbsp;&nbsp;
                <small>Sort by: &nbsp;
                    <input type="text" ng-model="orderText"></p>
                </small></h4>
            <ul class="list-unstyled">
                <li ng-repeat="comment in one_customer.comments | orderBy:orderText">
                    <blockquote>
                        <p>{{comment.comment}}</p>
                        <footer>{{comment.postedBy.firstname}} {{comment.postedBy.lastname}}, {{comment.updatedAt | date:'MMM. dd, yyyy'}}</footer>
                    </blockquote>
                </li>
            </ul>

            <form class="form-horizontal" name="commentForm" ng-submit="submitComment()" novalidate>
                <div class="form-group"  ng-class="{ 'has-error' : commentForm.comments.$error.required && !commentForm.comments.$pristine }">
                    <label for="comments" class="col-sm-2 control-label">Comment</label>
                    <div class="col-sm-10">
                            <textarea class="form-control" rows="6" name="comments"
                                      ng-model="mycomment.comment" required>
                            </textarea>
                        <span ng-show="commentForm.comments.$error.required && !commentForm.comments.$pristine" class="help-block">Your comments are required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Submit Comment</button>
                    </div>
                </div>
            </form>
        </div>


    </div>