<div class="col-lg-9 col-md-12">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2><i class="fa fa-map-marker red"></i><strong>BET INVEST   -   GOING GLOBAL</strong></h2>
            <div class="panel-actions">
                <a href="index.html#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
                <a href="index.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                <a href="index.html#" class="btn-close"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="panel-body-map">
            <div id="map" style="height:380px;"></div>
        </div>

    </div>
    </div>

    <script>
        $(function() {

            $('#map').vectorMap({
                map: 'world_mill_en',
                series: {
                    regions: [{
                        values: {
                            NG:'#FF9900',
                            ZW:'#FF9900',
                            AM:'#FF9900',
                            RU:'#FF9900',
                            RO:'#FF9900',
                            HR:'#FF9900',
                            BY:'#FF9900',
                            TZ:'#FF9900',
                            MD:'#FF9900',
                            ZA:'#FF9900'
                        }
                    }]
                },
                backgroundColor: '#eef3f7',
                onLabelShow: function(e, el, code) {
                    el.html(el.html() + ' (GDP - ' + gdpData[code] + ')');
                }
            });
        });
    </script>