<div class="col-md-6 portlets">
    <!-- Customer profile -->
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Customer profile
                </header>
                <div class="panel-body">
                    <div class="form">
                        <form class="form-validate form-horizontal" id="customerForm" name="customerForm" ng-submit="submitCustomer()" >
                            <div class="form-group ">
                                <label for="name" class="control-label col-lg-2">Name and Surname <span class="required">*</span></label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="name" name="name" minlength="2" type="text" required ng-model="customer.name" />
                                </div>
                            </div>
                            <!--<div class="form-group ">-->
                                <!--<label for="surname" class="control-label col-lg-2">Surname <span class="required">*</span></label>-->
                                <!--<div class="col-lg-10">-->
                                    <!--<input class="form-control" id="surname" name="surname" minlength="2" type="text" required ng-model="customer.surname" />-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="form-group ">
                                <label for="companyname" class="control-label col-lg-2">Company name <span class="required">*</span></label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="companyname" name="companyname" minlength="2" type="text" required ng-model="customer.companyname" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-2">Country</label>
                                <div class="col-lg-10">
                                    <input class="form-control"  id="country" name="country" type="text" ng-model="customer.country" />
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="email" class="control-label col-lg-2">E-Mail <span class="required">*</span></label>
                                <div class="col-lg-10">
                                    <input class="form-control " id="email" type="email" name="email" required ng-model="customer.email" />
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="skype" class="control-label col-lg-2">Skype </label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="skype" name="skype" minlength="2" type="text" ng-model="customer.skype" />
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="phone" class="control-label col-lg-2">Mobile </label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="phone" name="phone" minlength="5" type="text" ng-model="customer.phone" placeholder="Digits only" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-2">Products</label>
                                <div class="col-lg-10">
                                    <select class="form-control" name="product" ng-model="customer.product">
                                        <option value="">- Please choose the product -</option>
                                        <option value="Retail">Retail</option>
                                        <option value="White Label">White Label</option>
                                        <option value="Data Feed">Data Feed</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="manager" class="control-label col-lg-2">Account Manager </label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="manager" name="manager" minlength="2" type="text" required ng-model="customer.manager" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-2">Stage</label>
                                <div class="col-lg-10">
                                    <select class="form-control" name="stage" ng-model="customer.stage">
                                        <option value="">- Choose Sale Stage -</option>
                                        <option value="Prospect">Prospect</option>
                                        <option value="Initial proposal">Initial proposal</option>
                                        <option value="Testing">Testing</option>
                                        <option value="Signed contract">Signed contract</option>
                                        <option value="Permanent customer">Permanent customer</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="date" class="control-label col-lg-2">Last contact </label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="date" name="dueOn"  pikaday="myPickerObject"  placeholder="Set choose the project finish date" ng-model="customer.dueOn" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-2">Documents</label>
                                <div class="col-lg-10">
                                    <select class="form-control" name="documents" ng-model="customer.documents">
                                        <option value="">- Documents signed -</option>
                                        <option value="None">None</option>
                                        <option value="D2B card">D2B card</option>
                                        <option value="Contract">Contract</option>
                                        <option value="All">All</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="notes" class="control-label col-lg-2">Special requirements </label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="notes" name="notes" minlength="2" type="text" ng-model="customer.notes"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-2">Events</label>
                                <div class="col-lg-10">
                                    <select class="form-control" name="event_" ng-model="customer.event_">
                                        <option value="">- How did you meet? -</option>
                                        <option value="Amsterdam Affiliate Conference">Amsterdam Affiliate Conference</option>
                                        <option value="Berlin EiG">Berlin EiG</option>
                                        <option value="ICE Totally Gaming 2015">ICE 2015</option>
                                        <option value="ICE Totally Gaming 2016">ICE 2016</option>
                                        <option value="ICE Totally Gaming 2017">ICE 2017</option>
                                        <option value="Incoming request">Incoming request</option>
                                        <option value="Other">Other</option>
                                        <option value="WRB  Africa">WRB  Africa</option>
                                        <option value="Johannesburg 2015">Johannesburg 2015</option>
                                    </select>
                                </div>
                            </div>
                            <!--<div class="form-group ">-->
                                <!--<label for="comments" class="control-label col-lg-2">Comments </label>-->
                                <!--<div class="col-lg-10">-->
                                    <!--<input class="form-control" id="comments" name="comments" placeholder="Comments, problems, tasks" minlength="2" type="text" ng-model="customer.comments"/>-->
                                <!--</div>-->
                            <!--</div>-->
                             Buttons
                            <div class="form-group">
                                <!-- Buttons -->
                                <div class="col-lg-offset-2 col-lg-9">
                                    <button type="submit" class="btn btn-primary">Publish</button>
                                    <button type="reset" class="btn btn-default">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </section>
        </div>
    </div>
    <!-- page end-->
</div>
<script>
    $(document).ready(function() {
        $("#country").countrySelect();
        $( "#datepicker" ).datepicker();
    });
</script>

