<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
            <li class="active">
                <a class="" ui-sref="app">
                    <i class="icon_house_alt"></i>
                    <span>Bet Invest</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                    <span>Customers</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" ui-sref="app.customers">Current customers</a></li>

                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <span>Staff reports</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" ui-sref="app.reports">View reports</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span>Users</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" ui-sref="app.users">View users</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    <span>General Docs</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="../../docs/Agency_Agreement.docx" download="Agency_Agreement">Agency</a></li>
                    <li><a class="" href="../../docs/NDA_Agreement.docx" download="NDA_Agreement">NDA</a></li>
                    <li><a class="" href="../../docs/Partners_Card.docx" download="Partners_Card">B2Bcard</a></li>
                    <li><a class="" href="../../docs/Tech_Req.docx" download="Tech_Req">Tech Req</a></li>
                    <li><a class="" href="../../docs/Staff manual.pdf" download="Staff manual">Staff</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="fa fa-laptop" aria-hidden="true"></i>
                    <span>White Label</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="../../docs/Price_White_Label.docx" download="Price_White_Label">Price List</a></li>
                    <li><a class="" href="../../docs/SLA for White Label.docx" download="White_Label_SLA">SLA</a></li>
                    <li><a class="" href="../../docs/Agreement_White_Label.docx" download="White_Label_Agreement">Agreement</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="fa fa-database" aria-hidden="true"></i>
                    <span>Odds Feed</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="../../docs/Price_Feed.docx" download="Price_Feed">Price List</a></li>
                    <li><a class="" href="../../docs/SLA_Feed.docx" download="SLA_Feed">SLA</a></li>
                    <li><a class="" href="../../docs/Agreement_Feed.docx" download="Agreement_Feed">Agreement</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span>Retail</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="../../docs/Price_Retail.docx" download="Price_Retail">Price List</a></li>
                    <li><a class="" href="../../docs/SLA_Retail.docx" download="SLA_Retail">SLA</a></li>
                    <li><a class="" href="../../docs/Agreement_Retail.docx" download="Agreement_Retail">Agreement</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <span>Regions</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="#">Moldova</a></li>
                    <li><a class="" href="#">Croatia</a></li>
                    <li><a class="" href="#">Belarus</a></li>
                    <li><a class="" href="#">Romania</a></li>
                    <li><a class="" href="#">Slovakia</a></li>
                </ul>
            </li>

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<script>
    //sidebar dropdown menu
    jQuery('#sidebar .sub-menu > a').click(function () {
        var last = jQuery('.sub-menu.open', jQuery('#sidebar'));
        jQuery('.menu-arrow').removeClass('arrow_carrot-right');
        jQuery('.sub', last).slideUp(200);
        var sub = jQuery(this).next();
        if (sub.is(":visible")) {
            jQuery('.menu-arrow').addClass('arrow_carrot-right');
            sub.slideUp(200);
        } else {
            jQuery('.menu-arrow').addClass('arrow_carrot-down');
            sub.slideDown(200);
        }
        var o = (jQuery(this).offset());
        diff = 200 - o.top;
        if(diff>0)
            jQuery("#sidebar").scrollTo("-="+Math.abs(diff),500);
        else
            jQuery("#sidebar").scrollTo("+="+Math.abs(diff),500);
    });

    // sidebar menu toggle
    jQuery(function() {
        function responsiveView() {
            var wSize = jQuery(window).width();
            if (wSize <= 768) {
                jQuery('#container').addClass('sidebar-close');
                jQuery('#sidebar > ul').hide();
            }

            if (wSize > 768) {
                jQuery('#container').removeClass('sidebar-close');
                jQuery('#sidebar > ul').show();
            }
        }
        jQuery(window).on('load', responsiveView);
        jQuery(window).on('resize', responsiveView);
    });
</script>