<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
            <li class="active">
                <a class="" ui-sref="app">
                    <i class="icon_house_alt"></i>
                    <span>Bet Invest</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                    <span>Customers</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" ui-sref="app.customers">Current customers</a></li>

                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <span>Staff reports</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" ui-sref="app.reports">View reports</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span>Users</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" ui-sref="app.users">View users</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    <span>Documents</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="../../docs/t430_ug_en.pdf" download="NDA_Agreement">Nda</a></li>
                    <li><a class="" href="../../docs/t430_ug_en.pdf" download="Agency_Agreement">Agency</a></li>
                    <li><a class="" href="../../docs/t430_ug_en.pdf" download="Partners_Card">Partner's card</a></li>
                    <li><a class="" href="../../docs/t430_ug_en.pdf" download="White_Label_Agreement">White Label</a></li>
                    <li><a class="" href="../../docs/t430_ug_en.pdf" download="Feed_Agreement">Feed</a></li>
                    <li><a class="" href="../../docs/t430_ug_en.pdf" download="Rtail">Retail</a></li>
                    <li><a class="" href="../../docs/t430_ug_en.pdf" download="Tech_Req">Technical req</a></li>
                    <li><a class="" href="../../docs/t430_ug_en.pdf" download="Staff manual">Staff manual</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <span>Regions</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="#">Moldova</a></li>
                    <li><a class="" href="#">Croatia</a></li>
                    <li><a class="" href="#">Belarus</a></li>
                    <li><a class="" href="#">Romania</a></li>
                    <li><a class="" href="#">Slovakia</a></li>
                </ul>
            </li>

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<script>
    //sidebar dropdown menu
    jQuery('#sidebar .sub-menu > a').click(function () {
        var last = jQuery('.sub-menu.open', jQuery('#sidebar'));
        jQuery('.menu-arrow').removeClass('arrow_carrot-right');
        jQuery('.sub', last).slideUp(200);
        var sub = jQuery(this).next();
        if (sub.is(":visible")) {
            jQuery('.menu-arrow').addClass('arrow_carrot-right');
            sub.slideUp(200);
        } else {
            jQuery('.menu-arrow').addClass('arrow_carrot-down');
            sub.slideDown(200);
        }
        var o = (jQuery(this).offset());
        diff = 200 - o.top;
        if(diff>0)
            jQuery("#sidebar").scrollTo("-="+Math.abs(diff),500);
        else
            jQuery("#sidebar").scrollTo("+="+Math.abs(diff),500);
    });

    // sidebar menu toggle
    jQuery(function() {
        function responsiveView() {
            var wSize = jQuery(window).width();
            if (wSize <= 768) {
                jQuery('#container').addClass('sidebar-close');
                jQuery('#sidebar > ul').hide();
            }

            if (wSize > 768) {
                jQuery('#container').removeClass('sidebar-close');
                jQuery('#sidebar > ul').show();
            }
        }
        jQuery(window).on('load', responsiveView);
        jQuery(window).on('resize', responsiveView);
    });
</script>